<!DOCTYPE html>
{% extends "clinic_base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clinic_records.css') }}">
</head>

<body style="background-color: #5A62A7;">
    <div class="a">

        <div class="Title_img">
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
            <p class="Title">   近期病歷紀錄   </p>
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
        </div>

        <div class="bg-table rounded-table h-100 p-4 mb-4 w-80 dis">
            <table class="table">
                <thead class="thead">
                    <tr style="color:red">
                        
                        <th scope="col">日期</th>
                        <th scope="col">診所</th>
                        <th scope="col">打疫苗</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="thead">
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>jhon@email.com</td>
                        <th><input type="button" value="詳細資料" onclick="location.href='/base'"></th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bg-table rounded-table h-100 p-4 mb-4 w-80 dis">
            <table class="table">
                <thead class="thead">
                    <tr style="color:red">
                        
                        <th scope="col">日期</th>
                        <th scope="col">診所</th>
                        <th scope="col">打疫苗</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="thead">
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>jhon@email.com</td>
                        <th><input type="button" value="詳細資料" onclick="location.href='/base'"></th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bg-table rounded-table h-100 p-4 mb-4 w-80 dis">
            <table class="table">
                <thead class="thead">
                    <tr style="color:red">
                        
                        <th scope="col">日期</th>
                        <th scope="col">診所</th>
                        <th scope="col">打疫苗</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="thead">
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>jhon@email.com</td>
                        <th><input type="button" value="詳細資料" onclick="location.href='/base'"></th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bg-table rounded-table h-100 p-4 mb-4 w-80 dis">
            <table class="table">
                <thead class="thead">
                    <tr style="color:red">
                        
                        <th scope="col">日期</th>
                        <th scope="col">診所</th>
                        <th scope="col">打疫苗</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="thead">
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>jhon@email.com</td>
                        <th><input type="button" value="詳細資料" onclick="location.href='/base'"></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

{% endblock content %}