{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Medical Records{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('clinic.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for medical_record in medical_records %}
    <article class="medical_record">
      <header>
        <div>
          <h1>{{ medical_record['title'] }}</h1>
          <div class="about">by {{ medical_record['username'] }} on {{ medical_record['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == medical_record['author_id'] %}
          <a class="action" href="{{ url_for('clinic.update', id=medical_record['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ medical_record['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}