.bg-light{
    background-color: rgb(36, 213, 119);
}
.bg-table{
    background-color:bisque;
}

.rounded{
    border-radius: 30px;
}
.rounded-table{
    border-radius: 30px; /*圓框*/
}

.h-100{
    height: auto;
}
.w-80{
    width: 50%;
}

.p-4{
    padding: 1.5rem; /*間隔*/
}

.a{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; /*向下排序*/
    align-items: center; /*置中*/
}

.Title_img{
    display: flex;
    justify-content: center;
}

.Title{
    font-size: 1.5rem;
    color: blue;
}

.mb-4{
    margin-bottom: 1rem; /*間隔*/
}

.dis {
    display:flex;
    justify-content: center;
}

.table{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    display: blocks;
}

.thead{
    text-align: center;
}