.font-B{
    font-weight: bold;
}

.rounded{
    border-radius: 30px;
}

.h-100{
    height: auto;
}
.w-80{
    width: 50%;
}

.p-4{
    padding: 1.5rem; /*間隔*/
}

/*新加的不用檢查是不是沒用到*/

.input-text{
    border-radius: 30px;
    text-justify: center;
    text-align: center;
    background-color: #ffffff;
}

.input-select{
    background-color: #ffffff;
}

.mb-total{
    margin: 1rem;
}

.p{
    padding: 1.5rem;
}

.button-update{
    background-color: #F7BBB0;
    color: white;
    text-align: center;
    border-radius: 15px;
}

.font-s{
    font-size: 2rem;
    font-weight: bold;
}

.dis{
    display: flex;
    justify-content:center;
    align-items: center;
}

.dis-f{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}