<!DOCTYPE html>
{% extends "clinic_base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_doctor.css') }}">
</head>

<body>

    <div class="container">
        <!-- 用來接後端傳來的flash-message -->
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <!-- 弄一個x的button，點擊之後讓訊息消失，可參考bootstrap說明 -->
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        
        {% block page_content %}{% endblock %}
    </div>

    <form method="post" action="/clinic/add_doctor">
        {{form.csrf_token}}
        <div class="Title_img mb-total">
            <div class="Title_img">
                <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
                <div class="Title">   新增醫師   </div>
                <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
            </div>
        </div>
    
        <div style="display: flex; justify-content: center;">
            <div class="bg-table rounded-table" style="display: flex; justify-content: center; align-items: center; flex-direction: column; width: 30%;">
    
                <div class="" style="margin: 1rem; display: flex; align-items: center; justify-content: center;">
                    <div style="font-weight: bold; font-size: 1rem;">醫師編號：</div>
                    <div>{{form.UID(value="請輸入醫師編號", class="input-text", style="padding: 0.5rem; font-size: 1rem;")}}</div>
                </div>
        
                <div class="" style="margin: 1rem;">
                    {{form.submit(class='button-update')}}
                </div>
        
            </div>
        </div>
    </form>

</body>

{% endblock content %}