<!DOCTYPE html>
{% extends "clinic_base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_data.css') }}">
</head>

<body background="{{ url_for('static', filename='img/first-page.jpg') }}" style="background-size: cover;">

    {% if type == 'add' %}
    <form method="post" action="/clinic/add_medicalrecords/{{PetID}}">
        {{ form.csrf_token }}
        <div class="Title_img mb-total" style="margin-top: 10%;">
            <div class="Title_img">
                <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
                <div class="Title">   新增病歷   </div>
                <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
            </div>
        </div>
        <div class="a">
            <div class="bg-table rounded-table h-100 p-4 mb-4 w-80 dis">
                <table class="table">
                    <tbody class="thead">
                        <tr>
                            <td scope="row" class="font-B" style="vertical-align: middle;">寵物晶片號碼</td>
                            <td><div style="text-justify: center; text-align: center; font-weight: bold;">{{form.PetID(class="input-text")}}</div></td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B" style="vertical-align: middle;">診所名稱</td>
                            <td><div style="text-justify: center; text-align: center; font-weight: bold;">{{form.CID(class="input-text")}}</div></td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B" style="vertical-align: middle;">就醫類型</td>
                            <td>
                                <div style="display: flex; justify-content: center; margin: 0.5rem;">
                                    {{form.type(class="input-text")}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B" style="vertical-align: middle;">醫師姓名</td>
                            <td>
                                <select>
                                    {% for doctor in doctors %}
                                    <option>{{doctor}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B" style="vertical-align: middle;">病症</td>
                            <td>
                                {{form.disease(class="input-text")}}
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B" style="vertical-align: middle;">用藥</td>
                            <td>
                                <input list="medicine-flavors" id="medicine-choice" name="medicine-choice">
                                <datalist id="medicine-flavors">
                                    {% for medicine in medicationList %}
                                    <option>{{medicine}}</option>
                                    {% endfor %}
                                </datalist>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <div class="a mb-4">
            {{form.submit(class='button-update')}}
        </div>
    </form>

    {% else %}
    <form method="post" action="/clinic/edit_medicalrecord/{{MID}}">
        {{ form.csrf_token}}
        <div class="Title_img mb-total" style="margin-top: 10%;">
            <div class="Title_img">
                <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
                <div class="Title">   修改病歷   </div>
                <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
            </div>
        </div>
        <div class="a">
            <div class="bg-table rounded-table h-100 p-4 mb-4 w-80 dis">
                <table class="table">
                    <tbody class="thead">
                        <tr>
                            <td scope="row" class="font-B" style="vertical-align: middle;">寵物晶片號碼</td>
                            <td><div style="text-justify: center; text-align: center; font-weight: bold;">{{form.PetID(class="input-text")}}</div></td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B" style="vertical-align: middle;">診所名稱</td>
                            <td><div style="text-justify: center; text-align: center; font-weight: bold;">{{form.CID(class="input-text")}}</div></td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B" style="vertical-align: middle;">就醫類型</td>
                            <td>
                                <div style="display: flex; justify-content: center; margin: 0.5rem;">
                                    {{form.type(class="input-text")}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B" style="vertical-align: middle;">醫師姓名</td>
                            <td>
                                {{form.doctor(class="rounded-table input-text")}}
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B" style="vertical-align: middle;">病症</td>
                            <td>
                                {{form.disease(class="input-text")}}
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B" style="vertical-align: middle;">用藥</td>
                            <td>
                                <!--{{form.medication}}-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <div class="a mb-4">
            {{form.submit(value="修改", class='button-update')}}
        </div>
    </form>

    {% endif %}
        

    <script>
        var editor = CKEDITOR.replace('editorDemo');
    </script>
</body>

{% endblock content %}