<!DOCTYPE html>
{% extends "clinic_base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_data.css') }}">
</head>

<body>

    <div class="Title_img mb-total">
        <div class="Title_img">
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
            <div class="Title">   新增病歷   </div>
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
        </div>
    </div>

    <div class="a">
        
        <div class="bg-table rounded-table h-100 p-4 mb-4 w-80 dis">
            <table class="table">
                <tbody class="thead">
                    <tr>
                        <td scope="row" class="font-B">寵物晶片號碼</td>
                        <td><div style="text-justify: center; text-align: center; font-weight: bold;">1152244444410</div></td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B">診所名稱</td>
                        <td><div style="text-justify: center; text-align: center; font-weight: bold;">NCU診所</div></td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B">就醫類型</td>
                        <td>
                            <div style="display: flex; justify-content: center; margin: 0.5rem;">
                                
                                <input type="radio" name="type" value="1">看診
                                <input type="radio" name="type" value="2">檢查
                                <input type="radio" name="type" value="3">疫苗施打
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B">醫師姓名</td>
                        <td>
                            
                            <select name="doctor" class="rounded-table input-select" style="width: 80%; margin: 0.5rem; text-align: center;">
                                <option value="1">王聖智</option>
                                <option value="2">陳王武</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B">病症</td>
                        <td>
                            
                            <textarea name="editorDemo"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

    <div class="a mb-4">
        <input type="button" value="完成" onclick="location.href=''" class="button-update">
    </div>

    <script>
        var editor = CKEDITOR.replace('editorDemo');
    </script>
</body>

{% endblock content %}