<!DOCTYPE html>
{% extends "clinic_base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chip_add.css') }}">
</head>

<body background="{{ url_for('static', filename='img/first-page.jpg') }}" style="background-size: cover; font-size: 2rem;">
    {% if type == 'edit' %}
    <div class="Title_img mb-total" style="margin-top: 10%;">
        <div class="Title_img">
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
            <div class="Title"style="font-weight: bold;"> 修改寵物晶片 </div>
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
        </div>
    </div>
    <form method="post" action="/clinic/edit_pet/{{PetID}}">
        {{form.csrf_token}}
        <div class="a">
            <div class="bg-table rounded-table h-100 p-4 mb-4 w-80 dis">
                <table class="table" style="font-size: 2rem;">
                    <tbody class="thead">
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">寵物晶片號碼</div>
                            </td>
                            <td id="table-dis">
                                {{form.PetID(class='input-text')}}
                            </td>
                            <!--寵物晶片號碼-->
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">飼主編號</div>
                            </td>
                            <td id="table-dis">{{form.UID(class='input-text')}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">寵物名稱</div>
                            </td>
                            <td id="table-dis">{{form.name(class='input-text')}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">寵物性別</div>
                            </td>
                            <td id="table-dis">
                                <div style="width: 100%;">
                                    {{form.sex(class='rounded-table input-select')}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">寵物類型</div>
                            </td>
                            <td id="table-dis">{{form.species(class='rounded-table input-select')}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">寵物品種</div>
                            </td>
                            <td id="table-dis">{{form.variety(class='input-text')}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">寵物毛色</div>
                            </td>
                            <td id="table-dis">{{form.fur(class='input-text')}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">是否打疫苗</div>
                            </td>
                            <td id="table-dis">
                                {{form.vaccine(class='input-select')}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mb-4 button-dis">
            {{form.submit(class="button-update mb-total")}}    
            <input type="button" class="button-update mb-total" value="返回" onclick="history.back()">
        </div>
    </form>
    {% else %}
    <div class="Title_img mb-total" style="margin-top: 10%;">
        <div class="Title_img">
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
            <div class="Title"style="font-weight: bold;"> 新增寵物晶片 </div>
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
        </div>
    </div>
    <form method="post" action="/clinic/add_pet">
        {{form.csrf_token}}
        <div class="a">

            <div class="bg-table rounded-table h-100 p-4 mb-4 w-80 dis">
                <table class="table" style="font-size: 2rem;">
                    <tbody class="thead">
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">寵物晶片號碼</div>
                            </td>
                            <td id="table-dis">{{form.PetID(class='input-text')}}</td>
                            {% if form.PetID.errors %} {{ form.PetID.errors.0 }} {% endif %}
                            <!--寵物晶片號碼-->
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">飼主編號</div>
                            </td>
                            <td id="table-dis">{{form.UID(class='input-text')}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">寵物名稱</div>
                            </td>
                            <td id="table-dis">{{form.name(class='input-text')}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">寵物性別</div>
                            </td>
                            <td id="table-dis">
                                <div style="width: 100%;">
                                    {{form.sex(class='rounded-table input-select')}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">寵物類型</div>
                            </td>
                            <td id="table-dis">{{form.species(class='rounded-table input-select')}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">寵物品種</div>
                            </td>
                            <td id="table-dis">{{form.variety(class='input-text')}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">寵物毛色</div>
                            </td>
                            <td id="table-dis">{{form.fur(class='input-text')}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">是否打疫苗</div>
                            </td>
                            <td id="table-dis">
                                {{form.vaccine(class='input-select')}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mb-4 button-dis">
            {{form.submit(class="button-update mb-total")}}
            <input type="button" class="button-update mb-total" value="返回" onclick="history.back()">
        </div>
    </form>
    {% endif %}
</body>
{% endblock content %}