<!DOCTYPE html>
{% extends "clinic_base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detailed_records.css') }}">
</head>

<body style="background-color: #5A62A7;">

    <div class="Title_img">
        <div class="left Title_img">
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
            <p class="Title">   詳細病歷   </p>
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
        </div>
        <div class="right">
            <a><img src="{{ url_for('static', filename='img/editing-pen.png') }}" width="30" height="30"></a>
        </div>
    </div>

    <div class="a">

        <div class="bg-table rounded-table h-100 p-4 mb-4 w-80 dis">
            <table class="table">
                <tbody class="thead">
                    <tr>
                        <td scope="row" class="font-B">寵物晶片號碼</td>
                        <td>1152244444410</td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B">診所名稱</td>
                        <td>NCU診所</td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B">就醫類型</td>
                        <td>看診</td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B">病症</td>
                        <td>王聖智</td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B">用藥</td>
                        <td>Artuvetrin</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

{% endblock content %}