<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body background="{{ url_for('static', filename='img/first-page.jpg') }}" style="background-size: cover;">
    
    <div class="a" style="position:fixed; top: 50%; left: 50%; width: fit-content; transform:translate(-50%,-50%);">
        <div class="dis" style="flex-direction: column;">
            <div class="font-s c" style="display: flex; justify-content: center;">Welcome to&nbsp;<p class="font-w"> PetPet Dontcry</p></div>
            <div class="font-s c1"style="display: flex; justify-content: center;"><p class="font-w">Best</p>&nbsp;help for your&nbsp;<p class="font-w">Best</p>&nbsp;friends</div>
            <div class="font-s1 "style="display: flex; justify-content: center;">願所有寵物都有好的歸屬</div>
        </div>
    </div>

</body>

{% endblock content %}