{% extends "base.html" %}
<!--引入jQuery包用于使用ajax-->
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/knowledge_product.css') }}">
</head>

<div id="contain"></div>
<h1>寵物用品</h1>
<div id="contain"></div>


<script>
    var dataUrl = "https://data.coa.gov.tw/Service/OpenData/FromM/ADProData.aspx"

    var xhr = new XMLHttpRequest()
    xhr.open('GET',dataUrl, true)
    xhr.send()
    xhr.onload = function(){
        var dataset = JSON.parse(this.responseText)
        print(dataset)
    }

    function print(dataset){
        dataset.forEach( (data, index) => {
            let newCard = document.createElement("div")
            newCard.className = "infoCard"
            document.querySelector("#contain").appendChild(newCard)
            let newCardInfo = `
                <span>${index + 1}</span>
                <p>${data.動物用藥品中文名稱}</p>
                <p>${data.動物用藥品英文名稱}</p>
                <p>${data.劑型}</p>
            `
            newCard.innerHTML = newCardInfo
        })
    }

</script>
{% endblock content %}

