{% extends "base.html" %}
<!--引入jQuery包用于使用ajax-->
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/knowledge_product.css') }}">
</head>

<body style="font-size: 2rem; width: 100%">
    <div class="Title_img" style="padding: 1.5rem;">
        <div class="Title_img rounded" style=" display: flex; align-items: center;">
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
            <div class="Title font-B" style="font-size: 3rem; color: brown;">   寵物食品   </div>
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
        </div>
    </div>
    
    <div id="contain"></div>
    
    <div id="contain"></div>    
</body>

<script>
    var dataUrl = "https://data.coa.gov.tw/Service/OpenData/TransService.aspx?UnitId=wxV177kLhEE3"

    var xhr = new XMLHttpRequest()
    xhr.open('GET',dataUrl, true)
    xhr.send()
    xhr.onload = function(){
        var dataset = JSON.parse(this.responseText)
        print(dataset)
    }

    function print(dataset){
        dataset.forEach( (data, index) => {
            let newCard = document.createElement("div")
            newCard.className = "infoCard"
            document.querySelector("#contain").appendChild(newCard)
            let newCardInfo = `
                <!--<span>${index + 1}</span>-->
                <div style="display: flex; justify-content: center;">
                    <div style="width: 80%;">
                        <table class="table bg-table rounded">  
                            <thead class="thead">
                                <tr>
                                    <th class="tb-text">食品名稱</th>
                                    <th class="tb-text">適用寵物</th>
                                    <th class="tb-text">食品種類</th>
                                    <th class="tb-text">主要原料與添加物</th>
                                    <th class="tb-text">主要營養成分及含量</th>
                                </tr>
                            </thead>                      
                            <tbody>
                                <tr id="datatable">
                                    <td class="tb-text" style="vertical-align: middle; width: 15%;">${data.fname}</td>
                                    <td class="tb-text" style="vertical-align: middle; width: 15%;">${data.fusage1}</td>
                                    <td class="tb-text" style="vertical-align: middle; width: 10%;">${data.fitem}</td>
                                    <td class="tb-text" style="vertical-align: middle; width: 25%;">${data.fmat}</td>
                                    <td class="tb-text" style="vertical-align: middle; width: 35%;">${data.fnut}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            `
            newCard.innerHTML = newCardInfo
        })
    }

</script>
{% endblock content %}

