{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    login Page
{% endblock title %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body background="{{ url_for('static', filename='img/first-page.jpg') }}" style="background-size: cover; background-width:fit-content;">
    <form method="post" action="/login">
        {{form.csrf_token}}

        <div class="container" style="margin-top: 10%;">
            <h1 class="" style="font-weight:bold; color: #F7BBB0; text-align:center;">歡迎使用萌寵資訊平台</h1>
    
            <div class="dis-f">
                <div>
                    {{form.account.label(class="font-s mb-total")}}
                    {{form.account(class="input-text font-s mb-total")}}
                </div>

                <div>
                    {{form.password.label(class="font-s mb-total")}}
                    {{form.password(class="input-text font-s mb-total")}}
                </div>

                <div style="display: flex;">
                    {{form.remember_me(class="font-s mb-total")}}
                    {{form.remember_me.label(class="font-s mb-total")}}
                </div>
            </div>
    
            <div class="dis">
                {{form.submit(class="button-update mb-total font-s p")}}
                <input type="button" class="button-update mb-total font-s p" value="註冊" 
                    onclick="location.href='{{ url_for('user_views.user_register') }}'">    
            </div>
            
        </div>
    
    </form>
</body>
{% endblock content %}
