<!DOCTYPE html>

{% extends "clinic_base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medical_records.css') }}">
</head>

<body background="{{ url_for('static', filename='img/first-page.jpg') }}" style="background-size: cover; background-attachment: fixed; background-position: center; font-size: 2rem;">

    <div>

    </div>

    <div class="Title_img" style="padding: 1.5rem; justify-content: center;">
        <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
        <div style="font-weight: bold; color: #5a62a7; font-size: 3rem;"> 所有病歷 </div>
        <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
    </div>

    <div style="display: flex; justify-content: center;">

        <div class="left rounded-table" style="background: white; height: fit-content; margin-left: 5%; padding: 1rem;">
            <form action="#" method="post">
                <div style="display: flex; justify-content: center; align-content: center;">
                    <img src="{{ url_for('static', filename='img/filter-magnifier.png') }}" width="30" height="30">
                    <div>篩選</div>
                </div>
        
                <div>醫師</div>
                <div>
                    <select name="doctor_name" class="rounded-table input-select" style="width: 50%; margin: 0.5rem; text-align: center;">
                        <option value="">選擇醫師</option>
                        {% for doctor in doctors %}
                        <option >{{doctor}}</option>
                        {% endfor %}
                    </select>
                </div>
        
                <div>日期範圍</div>
                <input type="date" name="start_date">開始日期
                <input type="date" name="end_date">結束日期
                <br>
                
                <input type="submit" class="button-update mb-total" value="搜尋">  <!--套用篩選條件並重新回到此頁-->
                <input type="button" class="button-update mb-total" value="清除條件" onclick="location.href=''">
            </form>
        </div>
    
        <div class="right" style="display: flex; justify-content: center; height: fit-content; flex-direction: column;">
            
            <div style="margin: 1rem;">
                <input type="button" value="由舊至新" onclick="location.href=''" class="button-update">
                <input type="button" value="由新至舊" onclick="location.href=''" class="button-update">
            </div>
            {% for medicalrecords in medicalrecords_data %}
            <div style="display: flex; justify-content: center; margin: 1rem;">
                <div class="bg-table rounded-table h-100 p-4 mb-4 w-80 dis" style="width: fit-content;">
                    <table class="table mb-4" style="font-size: 2rem;">
                        <thead>
                            <tr class="thread">
                                <th scope="col">ID</th>
                                <th scope="col">日期</th>
                                <th scope="col">晶片號碼</th>
                                <th scope="col">醫師</th>
                                <th scope="col">看診紀錄</th>
                                <th scope="col">詳細內容</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="thread">
                                <td>{{medicalrecords.MID}}</td>
                                <td>{{ moment(medicalrecords.time).format('YYYY / MM / DD') }}</td>
                                <td>{{medicalrecords.PetID}}</td>
                                <td>{{medicalrecords.doctor}}</td>
                                <td>
                                    {% if medicalrecords.type == 1 %}
                                    疫苗
                                    {% elif medicalrecords.type == 2 %}
                                    看病
                                    {% else %}
                                    檢查
                                    {% endif %}
                                </td>
                                <td><a href="{{ url_for('clinic_views.pet_singlemedicalrecord' , MID = medicalrecords.MID) }}"><img src="{{ url_for('static', filename='img/magnifier.png') }}" width="30" height="30"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}

            <div style="display: flex; justify-content: center; align-content: center;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</body>

{% endblock content %}