<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/miss_detailed.css') }}">

</head>

<body>

    <div>

    </div>

    <div class="Title_img" style="padding: 1.5rem; justify-content: right;">
        <div><input type="button" class="button-update mb-total" value="我要刊登" onclick="location.href=''"></div>
    </div>

    <div style="display: flex; justify-content: center;">
        {% for published in published %}
        <div class="left" style="border: 1rem;">

            <div style="display: flex; justify-content: center; flex-direction: column; margin: 1rem;">
                <div>2022.11.8{{published.time}}</div>
                <div style="display: flex; justify-content: center;">
                    <div>嘟嘟走失了{{published.title}}</div>
                    <div>|</div>
                    <div style="color: #F7BBB0;">台北市松山區{{published.area}}</div>
                </div>
            </div>
    
            <div class="" style="display: flex; justify-content: center;">
                <table class="table" style="border-spacing: 0.5rem; border-collapse:separate;">
                    <tbody class="thead">
                        <tr>
                            <td scope="row" class="tab-title1">種類</td>
                            <td>狗{{published.variety}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="tab-title1">公</td>
                            <td>鬥牛犬{{published.sex}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="tab-title1">毛色</td>
                            <td>米黃{{published.fur}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="tab-title1">地點</td>
                            <td>台北市松山區復興北路99號{{published.area}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="tab-title1">敘述</td>
                            <td>2022/10/24 晚上7點22分從復興北路的大潤發賣場跑掉了,監視器都照不到他。{{published.depiction}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>刊登聯絡人</div>

            <div class="" style="display: flex; justify-content: center;">
                
                <table class="table" style="border-spacing: 0.5rem; border-collapse:separate;">
                    <tbody class="thead">
                        <tr>
                            <td scope="row" class="tab-title2">姓名</td>
                            <td>王聖智{{published.user.name}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="tab-title2">電話</td>
                            <td>09912345678{{published.user.phone}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="tab-title2">Email</td>
                            <td>12345@gmail.com{{published.user.account.email}}</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            
        </div>
        {% endfor %}
        <div class="right" style="display: flex; justify-content: center; height: fit-content;">
            
            <div id="carousel-bs4" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-bs4" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-bs4" data-slide-to="1"></li>
                    <li data-target="#carousel-bs4" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ url_for('static', filename='img/dog.jpg') }}" width="100%">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='img/dog2.jpg') }}" width="100%">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='img/dog3.jpg') }}" width="100%">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-bs4" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-bs4" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
            
        </div>

    </div>

</body>

{% endblock content %}