<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/miss.css') }}">
</head>

<body background="{{ url_for('static', filename='img/first-page.jpg') }}" style="background-size: cover; font-size: 2rem;">

    <div class="Title_img" style="padding: 1.5rem; justify-content: right;">
        <div><input type="button" class="button-update mb-total" value="我要刊登" onclick="location.href='{{ url_for('user_views.add_publshed') }}'"></div>
    </div>

    <div style="display: flex; justify-content: center;">

        <div class="left rounded" style="border: 1rem; background: white; height: fit-content; margin-left: 1%; padding: 1rem;">
            <form action="#" method="post">
                <div style="display: flex; justify-content: center; align-content: center;">
                    <img src="{{ url_for('static', filename='img/filter-magnifier.png') }}" width="30" height="30">
                    <div>條件篩選</div>
                </div>
                <div>地區</div>
                <script src="../static/js/tw-city-selector.js"></script>
                <script>
                    new TwCitySelector();
                </script>
                
                <div role="tw-city-selector"></div>
                
                {% if action == 'miss' %}
                <div>貼文類型</div>

                <div>
                    <select name="post_type" class="rounded-table input-select" style="width: 80%; margin: 0.5rem;">
                        <option value> 選擇貼文類型 </option>
                        <option value="1">協尋</option>
                        <option value="2">拾獲</option>
                    </select>

                </div>
                {% endif %}
        
                <div>動物</div>

                <div>
                    <select name="pets_type" class="rounded-table input-select" style="width: 80%; margin: 0.5rem;">
                        <option value> 選擇寵物種類 </option>
                        <option value="貓">貓咪</option>
                        <option value="狗">狗狗</option>
                        <option value="other">其他</option>
                    </select>
                    
                    <select name="pet_sex" class="rounded-table input-select" style="width: 80%; margin: 0.5rem;">
                        <option value> 選擇公or母 </option>
                        <option value=0>公</option>
                        <option value=1>母</option>
                    </select>
                </div>

        
                <input type="submit" class="button-update mb-total" value="搜尋"> <!--套用篩選條件並重新回到此頁-->
                <input type="button" class="button-update mb-total" value="清除條件" onclick="location.href=''">
            </form>
        </div>
    
        <div class="right" style="display: flex; justify-content: center; height: fit-content; flex-direction: column;">
            {% for published in published %}
            
            <div style="display: flex; margin: 1rem; justify-content: center">
                <div class="left-1" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; border: solid; width: 60%; padding: 1.5rem; background: white;">
                    
                    <div class="left">
                        <div class="" style="padding: 1rem;">
                            <img src="/static/uploads/{{published.picture}}" width="80" height="80"> <!--讀取圖片-->
                        </div>
                    </div>
            
                    <div class="right">
                        <div style="display: flex;">
                            <div class="rounded-name bg-name" style="margin: 1rem; padding: 0.5rem; width: fit-content;">{{published.county}}{{published.district}}</div> <!--讀取區域-->
                            <div class="rounded-name bg-name" style="margin: 1rem; padding: 0.5rem; width: fit-content;">
                                {% if published.type == 1 %}
                                協尋
                                {% elif published.type == 2 %}
                                拾獲
                                {% else %}
                                領養
                                {% endif %}
                            </div> <!--讀取刊登類型-->
                        </div>
                        
                        <div class="bg-table rounded-table h-100 p-4 dis" style="border: solid; width: fit-content;">
                            <div style="font-weight: bold; margin-right: 0.5rem;">{{published.title}}</div> <!--讀取標題-->
                            <div>{{published.depiction}}</div> <!--讀取敘述-->
                        </div>
                    </div>
                </div>
    
                <div class="right-1" style="display: flex; align-items: center; justify-content: center; flex-direction: column; border:solid; background: white;">
                    <div>刊登資料</div>
                    <div>{{published.time}}</div> <!--讀取日期-->
                    <div>性別</div>
                    <div>
                        {% if published.sex == 0 %}
                        公
                        {% elif published.sex == 1 %}
                        母
                        {% else %}
                        未知
                        {% endif %}
                    </div><!--讀取性別-->
                    <div><input type="button" class="button-update mb-total" value="詳細資料" onclick="location.href='{{ url_for('user_views.miss_detailed' , publishedID=published.PublishedID) }}'"></div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

</body>

{% endblock content %}