<!DOCTYPE html>

{% extends "base.html" %}

<!--引入jQuery包用于使用ajax-->
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
   

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/miss_detailed.css') }}">

</head>

<body background="{{ url_for('static', filename='img/first-page.jpg') }}" style="background-size: cover; font-size: 2rem;">

    <div>

    </div>

    <div style="display: flex; justify-content: center; margin-top: 6%;">

        <div class="left" style="border: 1rem;">

            <div style="display: flex; justify-content: center; flex-direction: column; margin: 1rem; align-items: center;">
                <div class="font-B" style="width:fit-content; display: flex; justify-content: center; flex-direction: column; font-size: 3rem;" >
                    <div> {{ moment(published.time).format('YYYY / MM / DD') }}</div>
                    <div style="display: flex; justify-content: center;">
                        <div>{{published.title}}</div>
                        <div>|</div>
                        <div style="color: #F7BBB0;">{{published.county}}{{published.district}}</div>
                    </div>
                </div>  
            </div>
    
            <div class="" style="display: flex; justify-content: center;">
                <table class="table rounded" style="border-spacing: 0.5rem; border-collapse:separate; font-size: 2rem; background-color: white; padding: 1rem;">
                    <tbody class="thead">
                        <tr>
                            <td scope="row" class="tab-title1">種類</td>
                            <td>
                                {% if published.species == cat %}
                                貓咪
                                {% elif published.species == dog %}
                                狗
                                {% else %}
                                其他
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="tab-title1">品種</td>
                            <td>{{published.variety}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="tab-title1">性別</td>
                            <td>
                                {% if published.sex == 0 %}
                                公
                                {% elif published.sex == 1 %}
                                母
                                {% else %}
                                未知
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="tab-title1">毛色</td>
                            <td>{{published.fur}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="tab-title1">地點</td>
                            <td>{{published.county}}{{published.district}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="tab-title1" style="display: flex; justify-content: center; align-item:center; width:auto;">
                                敘述
                            </td>
                            <td>{{published.depiction}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="font-B" style=" font-size: 3rem; color: brown;">刊登聯絡人</div>

            <div class="" style="display: flex; justify-content: center;">
                
                <table class="table" style="border-spacing: 0.5rem; border-collapse:separate; font-size: 2rem; background-color: white; padding: 1rem;">
                    <tbody class="thead">
                        <tr>
                            <td scope="row" class="tab-title2">姓名</td>
                            <td>{{published.user.name}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="tab-title2">電話</td>
                            <td>{{published.user.phone}}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="tab-title2">Email</td>
                            <td>{{account.email}}</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            
        </div>

        <div class="right" style="display: flex; justify-content: center; margin-top: 5%;">
            
            <div id="carousel-bs4" class="carousel slide" data-ride="carousel" style="display:flex; align-items: center;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/uploads/{{ published.picture }}" width="80%" style="border-radius:30px">
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</body>

{% endblock content %}