{% extends "base.html" %}
{% block title %}Blog_Post_List{% endblock %}
{% block page_content %}
<div class="post-list">
    {% for publishing in published %}
    <div class="post-content">
        P:{{ publishing.UID }}
        U:{{ current_user.UID }}
        {% if publishing.UID == current_user.UID %}
        <div class="post-editor">
            <a href="{{ url_for('user_views.edit_publshed', PublishedID = publishing.PublishedID) }}">Edit</a>
        </div>
        {% endif %}
        <div class="post-title">{{ publishing.title }}</div>
        <div class="post-body">{{ publishing.PublishedID }}</div>
        <div class="post-footer">Post By <a href="#"> {{ publishing.user.name }}</a> on {{ publishing.time.strftime('%Y-%m-%d') }} in</div>
    </div>
    {% endfor %}
</div>
{% endblock %}

