{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    login Page
{% endblock title %}
{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body background="{{ url_for('static', filename='img/first-page.jpg') }}" style="background-size: cover; background-width:fit-content;">
    
    <div class="container" style="margin-top: 10%;">
        <h1 style="font-weight:bold; color: #F7BBB0; text-align:center;">註冊</h1>
        <form method="post" action="/user/register">
            {{form.csrf_token}}
            <div class="dis-f">
    
                <div style="display: flex;">
                    <div class="font-s mb-total">電子郵件</div>
                    <div>{{form.email(class="input-text font-s mb-total")}}</div>
                </div>
        
                <div style="display: flex;">
                    <div class="font-s mb-total">輸入密碼</div>
                    <div>{{form.password(class="input-text font-s mb-total")}}</div> 
                        
                </div>

                <div style="display: flex;">
                    <div class="font-s mb-total">確認密碼</div>
                    <div>{{form.password2(class="input-text font-s mb-total")}}</div>   
                </div>

                {% for error in form.password.errors %} 
                    <div style="color: red; font-size: 2rem;", class="dis">{{error}}</div>
                {% endfor %}
            </div>
        
            <div class="dis">
                {{form.submit(class="button-update mb-total font-s p")}} 
                <input type="button" class="button-update mb-total font-s p" value="返回" onclick="history.back()">
            </div>
        </form>
    </div>
</body>

{% endblock content %}
