{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    login Page
{% endblock title %}
{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body background="{{ url_for('static', filename='img/first-page.jpg') }}" style="background-size: cover; background-width:fit-content;">
    
    <div class="container" style="margin-top: 10%;">
        <h1 style="font-weight:bold; color: #F7BBB0; text-align:center;">輸入基本資料</h1>
        <form method="post" action="/user/register">
            {{form.csrf_token}}
            <div class="dis-f">
                <table>
                    <tr>
                        <td><div class="font-s mb-total" style="text-align: center;">身分證字號</div></td>
                        <td><div>{{form.identity(class="input-text font-s mb-total")}}</div></td>
                    </tr>
                    <tr>
                        <td><div class="font-s mb-total" style="text-align: center;">姓名</div></td>
                        <td><div>{{form.name(class="input-text font-s mb-total")}}</div></td>
                    </tr>
                    <tr>
                        <td><div class="font-s mb-total" style="text-align: center;">電話</div></td>
                        <td><div>{{form.phone(class="input-text font-s mb-total")}}</div></td>
                    </tr>
                </table>
            </div>
        
            <div class="dis">
                {{form.submit(class="button-update mb-total font-s p")}} 
                <input type="button" class="button-update mb-total font-s p" value="返回" onclick="history.back()">
            </div>
        </form>
    </div>
</body>

{% endblock content %}
