<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_postlist.css') }}">
</head>

<body>

    <div class="Title_img mb-total">
        <div class="Title_img">
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
            <div class="Title">   我要刊登   </div>
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
        </div>
    </div>

    <div class="a">

        <div class="bg-table rounded-table h-100 p-4 mb-4 w-80 dis">
            <table class="table">
                <tbody class="thead">
                    <tr>
                        <td scope="row" class="font-B table-title">
                            <div class="mb-total">刊登類型</div>
                            <div class="text-warn">必填</div>
                        </td>
                        <td id="table-dis">
                            {{form.type(class='input-radio',style='list-style-type: none; display: flex; justify-content: center;')}} <!--輸入刊登類型-->
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B table-title">
                            <div class="mb-total">動物類型</div>
                            <div class="text-warn">必填</div>
                        </td>
                        <td id="table-dis">
                            {{form.variety(class='input-text')}} <!--輸入動物類型-->
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B table-title">
                            <div class="mb-total">刊登標題</div>
                            <div class="text-warn">必填</div>
                        </td>
                        <td id="table-dis">
                            {{form.title(class='input-text')}} <!--輸入標題-->
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B table-title">
                            <div class="mb-total">上傳照片</div>
                        </td>
                        <td id="table-dis">
                            <input type='file' style="vertical-align: middle;"/>

                            <script>
                                $('input').on('change', function(e){      
                                    const file = this.files[0];//將上傳檔案轉換為base64字串
      
                                    const fr = new FileReader();//建立FileReader物件
                                    fr.onload = function (e) {
                                        $('img').attr('src', e.target.result);//读取的结果放入圖片
                                    };
      
                                    // 使用 readAsDataURL 將圖片轉成 Base64
                                    fr.readAsDataURL(file);
                                });
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B table-title">
                            <div class="mb-total">毛色</div>
                            <div class="text-warn">必填</div>
                        </td>
                        <td id="table-dis">
                            {{form.fur(class='input-text')}} <!--輸入毛色-->
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B table-title">
                            <div class="mb-total">發現地區</div>
                            <div class="text-warn">必填</div>
                        </td>
                        <td id="table-dis">
                            <div style="display: flex; flex-wrap:wrap; justify-content: center;">

                                <div style="width:50%;">
                                    {{form.area(class='input-text')}} <!--輸入縣市-->
                                </div>
    
                                <div style="width:50%;">
                                    {{form.area(class='input-text')}} <!--輸入地區-->
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B table-title">
                            <div class="mb-total">走失敘述</div>
                            <div class="text-warn">必填</div>
                        </td>
                        <td id="table-dis">
                            {{form.depiction(class='input-text')}} <!--輸入敘述-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="mb-4 button-dis">
        <input type="button" class="button-update mb-total" value="送出" onclick="showDialog()">

        <div class="dialog" id="dialog">
            <div style="display: flex; align-items: center; flex-direction: column;">
                <img src="{{ url_for('static', filename='img/awesome-check-green.png') }}" width="30" height="30" style="margin: 1rem;">
            </div>
            <div style="display: flex; align-items: center; flex-direction: column;">刊登資料成功!</div>
            <div style="display: flex; align-items: center; flex-direction: column;">
                <input type="button" class="button-update mb-total" value="確定" onclick="hideDialog()"> <!--返回他的刊登列表-->
            </div>
        </div>

        <script>
            var dialog,x;
            window.onload=function(){
                dialog=document.getElementById("dialog");
                x=document.getElementById("x");
            }
            function showDialog(){
                dialog.style.display="block";
            }
            function hideDialog(){
                dialog.style.display="none";
            }
        </Script>

        <input type="button" class="button-update mb-total" value="返回" onclick="history.back()">
    </div>

</body>

{% endblock content %}