<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_data.css') }}">
</head>

<body>

    <div class="Title_img mb-total">
        <div class="Title_img">
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
            <div class="Title">   基本資料   </div>
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
        </div>
    </div>

    <div class="a">

        <div class="bg-table rounded-table h-100 p-4 mb-4 w-80 dis">
            <table class="table">
                <tbody class="thead">
                    <tr>
                        <td scope="row" class="font-B">會員編號</td>
                        <td><input disabled type="text" value="00012" class="input-text"></td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B">Email</td>
                        <td><input type="text" value="12345678@gmail.com" class="input-text"></td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B">姓名</td>
                        <td><input type="text" value="輸入姓名" class="input-text"></td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B">電話</td>
                        <td><input type="text" value="輸入電話號碼" class="input-text"></td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B">身分證</td>
                        <td><input type="text" value="A123456789" class="input-text"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="Title_img mb-total">
        <div class="Title_img">
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
            <div class="Title">   修改密碼   </div>
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
        </div>
    </div>

    <div class="a">

        <div class="bg-table rounded-table h-100 p-4 mb-4 w-80 dis">
            <table class="table">
                <tbody class="thead">
                    <tr>
                        <td scope="row" class="font-B">舊密碼</td>
                        <td><input type="text" value="輸入舊密碼" class="input-text"></td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B">舊密碼</td>
                        <td><input type="text" value="輸入舊密碼" class="input-text"></td>
                    </tr>
                    <tr>
                        <td scope="row" class="font-B">舊密碼</td>
                        <td><input type="text" value="輸入舊密碼" class="input-text"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="a mb-4">
        <input type="button" value="更新" onclick="location.href=''" class="button-update">
    </div>

</body>

{% endblock content %}