<!DOCTYPE html>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_postlist.css') }}">
</head>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tw-city-selector@2.1.0/dist/tw-city-selector.min.js"></script>

<body background="{{ url_for('static', filename='img/first-page.jpg') }}"
    style="background-size: cover; font-size: 2rem;">

    {% if type == 'add' %}
    <div class="Title_img mb-total" style="margin-top: 5%;">
        <div class="Title_img">
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
            <div class="Title font-B"> 我要刊登 </div>
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
        </div>
    </div>
    <form method="post" action="/user/addpublished" enctype="multipart/form-data">
        <div class="a">
            <div class="bg-table rounded-table h-100 p-4 mb-4 w-80 dis">
                <table class="table" style="font-size: 2rem;">
                    <tbody class="thead">
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">刊登類型</div>
                                <div class="text-warn">必填</div>
                            </td>
                            <td id="table-dis">
                                <input type="radio" name="post_type" value="1" checked>協尋
                                <input type="radio" name="post_type" value="2">拾獲 
                                <input type="radio" name="post_type" value="3">領養
                                <!--輸入刊登類型-->
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">刊登標題</div>
                                <div class="text-warn">必填</div>
                            </td>
                            <td id="table-dis">
                                <input type="text" id="fname" name="title" value=""><br>
                                <!--輸入標題-->
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">動物類型</div>
                                <div class="text-warn">必填</div>
                            </td>
                            <td id="table-dis">
                                <select name="pets_type" class="rounded-table input-select" style="width: 80%; margin: 0.5rem;">
                                    <option value="cat">貓</option>
                                    <option value="dog">狗</option>
                                    <option value="other">其他</option>
                                </select>
                                <!--輸入動物類型-->
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">動物品種</div>
                            </td>
                            <td id="table-dis">
                                <input type="text" id="fname" name="variety" value=""><br>
                                <!--輸入動物品種-->
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">毛色</div>
                                <div class="text-warn">必填</div>
                            </td>
                            <td id="table-dis">
                                <input type="text" id="fname" name="fur" value=""><br>
                                <!--輸入毛色-->
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">性別</div>
                                <div class="text-warn">必填</div>
                            </td>
                            <td id="table-dis">
                                <select name="pet_sex" class="rounded-table input-select" style="width: 80%; margin: 0.5rem;">
                                    <option value=0>公</option>
                                    <option value=1>母</option>
                                    <option value=2>未知</option>
                                </select>
                                <!--輸入性別-->
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">發現地區</div>
                                <div class="text-warn">必填</div>
                            </td>
                            <td id="table-dis">
                                <div style="display: flex; flex-wrap:wrap; justify-content: center;">
                                    <div class="city-selector">
                                        <div>
                                          <!-- 縣市選單 -->
                                          <select class="county" ></select>
                                        </div>
                                        <div>
                                          <!-- 區域選單 -->
                                          <select class="district" ></select>
                                        </div>
                                    </div>
                                </div>
                                
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">敘述</div>
                                <div class="text-warn">必填</div>
                            </td>
                            <td id="table-dis">
                                <input type="text" id="fname" name="depiction" value=""><br>
                                <!--輸入敘述-->
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">照片</div>
                                <div class="text-warn">必填</div>
                            </td>
                            <td id="table-dis">
                                <input type="file" name="file" class="form-control" autocomplete="off" required>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mb-4 button-dis">
            <input type="submit" value="送出" class="button-update mb-total">
            <input type="button" class="button-update mb-total" value="返回" onclick="history.back()">
        </div>
    </form>




    {% elif type == 'edit' %}
    <div class="Title_img mb-total" style="margin-top: 5%;">
        <div class="Title_img">
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
            <div class="Title font-B"> 修改刊登資料 </div>
            <img src="{{ url_for('static', filename='img/dog-footprints.png') }}" width="30" height="30">
        </div>
    </div>
    <form method="post" action="/user/edit_published/{{PublishedID}}" enctype="multipart/form-data">
        {{form.csrf_token}}
        <div class="a">

            <div class="bg-table rounded-table h-100 p-4 mb-4 w-80 dis">
                <table class="table" style="font-size: 2rem;">
                    <tbody class="thead">
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">刊登類型</div>
                                <div class="text-warn">必填</div>
                            </td>
                            <td id="table-dis">
                                {{form.type(class='input-radio',style='list-style-type: none; display: flex;
                                justify-content: center;')}}
                                <!--輸入刊登類型-->
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">刊登標題</div>
                                <div class="text-warn">必填</div>
                            </td>
                            <td id="table-dis">
                                {{form.title(class='input-text')}}
                                <!--輸入標題-->
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">動物類型</div>
                                <div class="text-warn">必填</div>
                            </td>
                            <td id="table-dis">
                                {{form.species(class='input-text')}}
                                <!--輸入動物類型-->
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">動物品種</div>
                            </td>
                            <td id="table-dis">
                                {{form.variety(class='input-text')}}
                                <!--輸入動物類型-->
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">毛色</div>
                                <div class="text-warn">必填</div>
                            </td>
                            <td id="table-dis">
                                {{form.fur(class='input-text')}}
                                <!--輸入毛色-->
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">性別</div>
                                <div class="text-warn">必填</div>
                            </td>
                            <td id="table-dis">
                                {{form.sex(class='input-text')}}
                                <!--輸入性別-->
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">發現地區</div>
                                <div class="text-warn">必填</div>
                            </td>
                            <td id="table-dis">
                                <div class="city-selector">
                                    <div>
                                      <!-- 縣市選單 -->
                                      <select class="county" data-value={{form.county.data}}></select>
                                    </div>
                                    <div>
                                      <!-- 區域選單 -->
                                      <select class="district" data-value={{form.district.data}}></select>
                                    </div>
                                  </div> 
                            </td>
                        </tr>
                        
                        <tr>
                            <td scope="row" class="font-B table-title">
                                <div class="mb-total">敘述</div>
                                <div class="text-warn">必填</div>
                            </td>
                            <td id="table-dis">
                                {{form.depiction(class='input-text')}}
                                <!--輸入敘述-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mb-4 button-dis">

            {{form.submit(class='button-update mb-total')}}
            <input type="button" class="button-update mb-total" value="返回" onclick="history.back()">

        </div>
    </form>
    {% endif %}
</body>
<script src="../static/js/tw-city-selector.js">
    new TwCitySelector();
</script>

<script>
    new TwCitySelector({
        el: '.city-selector',
      elCounty: '.county', // 在 el 裡查找 element
      elDistrict: '.district', // 在 el 裡查找 element
    });
 </script>
  

{% endblock content %}